* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: white;
  background: #24d;
}

main {
  color: black;
  background: #eeb;
  text-align: left;
  min-height: 30rem;
}

h1 {
  font-size: xxx-large;
  font-weight: normal;
  justify-content: center;
}

img, video {
  margin-left: 10%;
  width: 80%;
  height: auto;
}

.tabs {
  float: none;
  list-style: none;
  position: relative;
  text-align: left;
}
.tabs > li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs > li > label {
  display: block;
  padding: 0.2rem 0.3rem;
  border-radius: 0.1rem 0.1rem 0 0;
  font-size: large;
  background: #aa8;
  cursor: pointer;
  position: relative;
  top: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #ffd;
}
.tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: large;
  line-height: 2rem;
  padding: 2rem;
  position: absolute;
  top: 2rem;
  left: 0;
  background: #eeb;
}
.tabs [id^="tab"]:checked + label {
  top: 0.2rem;
  background: #eeb;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

a {
  color: #00a;
}
