* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background: #eeb;
}

header {
  color: white;
  background: #24d;
}

h1 {
  text-align: center;
  font-size: xx-large;
  font-weight: normal;
}

a {
  color: #00a;
}

img, video {
  max-width: 95%;
  max-height: 80vh;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
}

.tabs > li > label > input[type="radio"] {
  appearance: none;
}

.tabs > li > label {
  margin: 0 0.1rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.1rem 0.1rem 0 0;
  font-size: large;
  background: #aa8;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.tabs > li > label:has(> input[name="tabs"]:checked) {
  padding: 0.4rem 0.3rem;
  background: #eeb;
}

.tabs > li > label:hover {
  background: #ffd;
}

.tab-content {
  z-index: 2;
  display: none;
  position: absolute;
  padding: 2rem;
  top: 2rem;
  left: 0;
  width: 95%;
  font-size: large;
  line-height: 2rem;
}

.tabs > li > label:has(> input[name="tabs"]:checked) ~ .tab-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tab-content > div {
  position: relative;
  border: 1px outset;
  padding: 0.3rem;
  margin: 0.7rem;
}
